html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 9pt;
    font-weight: 400;
    color: white;
    background-color: #21252b;
}

h1 {
    width: calc(100% - 24px - 24px);
    margin: 0;
    padding: 0 24px 12px;
    outline: 0;
    font-size: 2.7em;
    font-weight: 200;
    letter-spacing: 1px;
}

h2,
h3,
h4,
h5,
h6 {
    width: calc(100% - 24px - 24px);
    margin: 0;
    padding: 0 24px 12px;
    outline: 0;
    font-weight: 200;
}

p {
    width: calc(100% - 24px - 24px);
    margin: 0;
    padding: 0 24px 12px;
    outline: 0;
}

a {
    color: currentColor;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: deepskyblue;
}

input {
    width: calc(100% - 24px - 24px);
    margin: 0 24px 12px;
    padding: 0 0 3px;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid currentColor;
    outline: none;
    box-shadow: none;
    display: block;
    background-color: transparent;
    color: currentColor;
    font-size: inherit;
    font-family: inherit;
}

input:hover,
input:focus {
    border-bottom-color: deepskyblue;
    caret-color: deepskyblue;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

ul {
    margin: 0;
    padding: 3px 24px 6px 42px;
    outline: 0;
}

ul li {
    margin: 0;
    padding: 3px 0;
}

ul li:first-child {
    padding: 0 0 3px;
}

ul li:last-child {
    padding: 3px 0 0;
}

table {
    width: calc(100% - 24px - 24px);
    margin: 0 24px;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: inherit;
}

table th {
    padding: 0 12px 12px 0;
    border-bottom: 1px solid currentColor;
    font-size: 12pt;
    font-weight: 200;
    text-align: start;
}

table td {
    padding: 12px 12px 12px 0;
    border-bottom: 1px solid currentColor;
}

table tr:first-child td {
    padding: 0 12px 12px 0;
}

table tr:last-child td {
    border-bottom: 0;
    padding: 12px 12px 12px 0;
}

button,
.app_button {
    min-width: 100px;
    margin: 0 6px 12px 0;
    padding: 8px;
    border: 1px solid currentColor;
    border-radius: 8px;
    outline: none;
    display: inline-block;
    background: none;
    color: inherit;
    font: inherit;
    font-size: inherit;
    text-align: center;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0.04);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.05);
}

#App_ContextMenuBackground {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    left: 0;
    top: 0;
    z-index: 42000;
}

#App_ContextMenu {
    position: fixed;
    min-width: 150px;
    max-width: 480px;
    padding: 6px 0;
    border-radius: 6px;
    border: solid 1px rgba(255, 255, 255, 0.1);
    background-color: rgba(40, 38, 37, 0.90);
    color: currentColor;
    -webkit-box-shadow: -1px 12px 38px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: -1px 12px 38px 0px rgba(0, 0, 0, 0.6);
    box-shadow: -1px 12px 38px 0px rgba(0, 0, 0, 0.6);
}

#App_ContextMenu button {
    border: 0;
    border-radius: 0;
    margin: 0;
}

.App_MenuItemSeparator {
    width: 100%;
    height: 0;
    margin: 6px 0;
    border-top: solid 1px rgba(255, 255, 255, 0.1);
}

.App_MenuItem {
    display: flex;
    padding: 3px 24px;
    width: 100%;
    text-align: left;
}

.App_MenuItem:disabled {
    opacity: 0.15;
    background-color: transparent;
}

.App_MenuItemLabel {
    user-select: none;
    flex-grow: 1;
}

.App_MenuItemKeys {
    flex-grow: 0;
    margin-left: 12px;
    text-transform: capitalize;
}

.App_MenuItem:hover {
    background-color: deepskyblue;
}

.App_Loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#App_LoadingIcon {
    max-width: 100px;
    max-height: 100px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-drag: none;
}

#App_LoadingLabel {
    margin-top: 6px;
    font-size: 16pt;
    font-weight: 100;
    letter-spacing: 1px;
    max-width: 480px;
    text-align: center;
}

.App_InfiniteSpin {
    animation: App_InfiniteSpinFrames 10s infinite linear;
}

@keyframes App_InfiniteSpinFrames {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@media (prefers-color-scheme: light) {
    body {
        color: black;
        background-color: #f8f8f8;
    }

    #App_ContextMenu {
        background-color: rgba(221, 221, 221, 0.90);
        border: solid 1px rgba(0, 0, 0, 0.2);
    }

    .App_MenuItem {
        color: black;
    }

    .App_MenuItemSeparator {
        border-top: solid 1px rgba(0, 0, 0, 0.2);
    }

    .App_Loader {
        color: black;
    }
}