<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="{{.Description}}">
    <meta name="keywords" content="{{.Keywords}}">
    <meta name="author" content="{{.Author}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>{{.Name}}</title>

    <style media="all" type="text/css">
{{.DefaultCSS}}
    </style>
    {{range .CSS}}<link type="text/css" rel="stylesheet" href="{{.}}">
    {{end}}
    <link rel="icon" type="image/png" href="{{.Icon}}">
    {{range .Scripts}}<script src="{{.}}"></script>
    {{end}}
    <script>
{{.AppJS}}
    </script>
</head>
<body>
    <div class="App_Loader">
        <img id="App_LoadingIcon" class="App_InfiniteSpin" src="{{.Icon}}">
        <p id="App_LoadingLabel">{{.Loading}}</p>
    </div>
</body>
</html>