html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 10pt;
    font-weight: 400;
    color: white;
    background-color: #21252b;
}

h1 {
    margin: 0;
    padding: 30px 24px 6px;
    outline: 0;
    font-weight: 200;
    text-transform: lowercase;
    letter-spacing: 1px;
}

h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 3px 24px 6px;
    outline: 0;
    font-weight: 200;
    text-transform: lowercase;
}

p {
    margin: 0;
    padding: 3px 24px 6px;
    outline: 0;
}

a {
    color: currentColor;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: deepskyblue;
}

ul {
    margin: 0;
    padding: 3px 24px 6px 42px;
    outline: 0;
}

ul li {
    margin: 0;
    padding: 3px 0;
}

ul li:first-child {
    padding: 0 0 3px;
}

ul li:last-child {
    padding: 3px 0 0;
}

table {
    width: calc(100% - 48px);
    margin: 0 24px;
    padding: 3px 0 6px;
    border-collapse: collapse;
    table-layout: fixed;
}

table th {
    padding: 0 12px 12px;
    border-bottom: 1px solid darkgray;
    font-size: 11pt;
    font-weight: bold;
    /* text-transform: lowercase; */
}

table td {
    padding: 12px;
    border-bottom: 0.1px solid darkgray;
    text-align: center;
}

table tr:first-child td {
    padding: 0 12px 12px;
}

table tr:last-child td {
    border-bottom: 0;
    padding: 12px;
}

button {
    background: none;
    border: 0;
    color: inherit;
    font: inherit;
    font-size: inherit;
    outline: inherit;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0.04);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.05);
}

#App_ContextMenuBackground {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: transparent;
}

#App_ContextMenu {
    position: absolute;
    min-width: 150px;
    max-width: 480px;
    padding: 6px 0;
    border-radius: 6px;
    border: solid 1px rgba(255, 255, 255, 0.1);
    background: #21252a;
    color: white;
    -webkit-box-shadow: -1px 12px 38px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: -1px 12px 38px 0px rgba(0, 0, 0, 0.6);
    box-shadow: -1px 12px 38px 0px rgba(0, 0, 0, 0.6);
}

.App_MenuItemSeparator {
    width: 100%;
    height: 0;
    margin: 6px 0;
    border-top: solid 1px rgba(255, 255, 255, 0.1);
}

.App_MenuItem {
    display: flex;
    padding: 3px 24px;
    width: 100%;
    text-align: left;
}

.App_MenuItem:disabled {
    opacity: 0.15;
    background-color: transparent;
}

.App_MenuItemLabel {
    user-select: none;
    flex-grow: 1;
}

.App_MenuItemKeys {
    flex-grow: 0;
    margin-left: 12px;
    text-transform: capitalize;
}

.App_MenuItem:hover {
    background-color: deepskyblue;
}

.App_Loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#App_LoadingIcon {
    max-width: 100px;
    max-height: 100px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-drag: none;
}

#App_LoadingLabel {
    margin-top: 6px;
    font-size: 16pt;
    font-weight: 100;
    text-transform: lowercase;
    letter-spacing: 1px;
    max-width: 480px;
    text-align: center;
}

.App_InfiniteSpin {
    animation: App_InfiniteSpinFrames 10s infinite linear;
}

@keyframes App_InfiniteSpinFrames {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}