body {
  background-color: black;
  color: white;
}

.hello {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("https://storage.googleapis.com/murlok-github/space.jpg");
  background-size: cover;
  background-position: center;
}

.hello-title {
  max-width: 480px;
  font-size: 56pt;
  font-weight: 200;
}

.hello-input {
  max-width: 480px;
  font-size: 11pt;
  font-weight: 200;
}

.menu-button {
  position: fixed;
  left: 0;
  top: 0;
  padding: 12px;
  margin: 0 12px 12px;
  border: 0;
  z-index: 1;

  font-size: 24px;
  font-weight: 200;
  color: currentColor;
  cursor: pointer;
}
