<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {{range .Metas}}<meta{{if .Name}} name="{{.Name}}"{{end}}{{if .HTTPEquiv}} http-equiv="{{.HTTPEquiv}}"{{end}}{{if .Content}} content="{{.Content}}"{{end}}>
    {{end}} 
    <title>{{.Title}}</title>
    <style media="all" type="text/css">
{{.PageCSS}}
    </style>
    {{if .Icon}}<link rel="icon" type="image/png" href="{{.Icon}}">{{end}}
    {{range .CSS}}
    <link type="text/css" rel="stylesheet" href="{{.}}">{{end}}
</head>
<body>
    <div></div>

    <script>
{{if .RootCompoName}}var loadedComp = '{{.RootCompoName}}';{{end}}

var golangRequest = function (payload) {
    {{.GoRequest}}(payload)
}

{{.PageJS}}
    </script>
    
    {{range .Javascripts}}
    <script src="{{.}}"></script>{{end}}
</body>
</html>
