body {
    color: white;
}

.Menu {
    position: fixed;
    left: 0;
    top: 0;
    padding: 12px;
    margin: 0 12px 12px;
    border: 0;
    font-size: 24px;
    font-weight: 200;
    color: currentColor;
    cursor: pointer;
}

.Menu:hover {
    color: deepskyblue;
}

main {
    max-width: 100%;
    max-height: 100%;
    text-align: justify;
}

h1 {
    overflow: hidden;
    font-size: 56pt;
    font-weight: 200;
    white-space: nowrap;
    text-overflow: ellipsis;
}

input {
    font-size: 11pt;
    font-weight: 200;
}


.Hello {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url('space.jpg');
    background-size: cover;
    background-position: center;
}

.City {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}


.City main {
    max-width: 720px;
}

.City h1 {
    text-align: center;
}

.Links {
    text-align: center;
}