body {
    overflow: hidden;
}

h1 {
    font-weight: 300;
}

.DragAndDrop {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Helvetica Neue', 'Segoe UI';
    background-image: url('../stars.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    color: white;
    overflow: hidden;
}

.DragSelect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(300px - 50px);
    max-height: calc(100% - 30px);
    padding: 0 25px;
    margin: 25px 0;
}

.DragItem {
    width: 150px;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
    margin: 8px 0;
    padding: 8px;
    font-size: 12pt;
}

.DragItem:hover {
    color: red;
    border-color: red;
}

.Drop {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: transparent;
}

.Blackhole {
    transition-property: transform;
    transition-duration: 1s;
    max-height: 450px;
    max-width: 450px;
}

.Blackhole.Rotate {
    animation: rotate 42s infinite linear;
}

.Blackhole.FastRotate {
    animation: rotateFast 1s infinite linear;
    background-color: transparent;
    border-radius: 100%;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotateFast {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.History {
    width: calc(300px - 50px);
    max-height: calc(100% - 30px);
    padding: 0 25px;
    margin: 25px 0;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
}

::-webkit-scrollbar {
    width: 10px;
    padding: 0;
}

 ::-webkit-scrollbar-track {
    background-color: transparent;
}

 ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 1px solid silver;
    margin: 0;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}