.Hello {
    background-image: url('../space.jpg');
    background-size:cover;
    background-position: right;
}

.Hello-Content {
    width: 100%;
    height: 100%;
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Hello-Content h1 {
    max-width: 100%;
    font-size: 56pt;
    font-weight: 200;
    margin: 0;
    padding: 0 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Hello-Content input {
    max-width: 100%;
    border: 0;
    border-left: 2px solid silver;
    padding: 6px;
    margin: 12px 0;
    outline: none;
    font-size: 11pt;
    font-weight: 300;
    background: transparent;
    color: rgb(240, 240, 240);
}

.Hello-Content input:focus {
    color: white;
    border-left-color: deepskyblue;
}