body {
    color: rgb(240, 240, 240);
    font-size: 11pt;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: rgb(240, 240, 240);
}

a:hover {
    color: white;
}

h1 {
    letter-spacing: 1px;
    font-weight: 100;
    text-transform: lowercase;
}

.Layout {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.Selected a {
    color: deepskyblue;
}