body {
    color: rgb(240, 240, 240);
}

.Layout {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.Selected a {
    color: deepskyblue;
}

table {
    width: calc(100% - 48px);
    margin: 0 24px;
    padding: 3px 0 6px;
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    padding: 12px;
    border-bottom: 0.1px solid darkgrey;
    text-align: center;
}

tr:first-child td {
    padding: 0 12px 12px;
}

tr:last-child td {
    padding: 12px 12px 0;
    border-bottom: 0;
}
