.NavPane {
    width: 280px;
    min-width: 280px;
    background-color: rgba(0, 0, 0, 0.50);
}

.NavPane ul {
    padding: 3px 0 6px;
}

.NavPane ul li {
    padding: 3px 24px;
}

.NavPane ul li:first-child {
    padding: 0 24px 3px;
}

.NavPane ul li:last-child {
    padding: 3px 24px 0;
}