.NavPane {
    width: 280px;
    min-width: 280px;
    background-color: rgba(0, 0, 0, 0.50);
}

.NavPane h1 {
    margin: 0;
    padding: 38px 24px 6px;
}

.NavPane-List {
    margin: 3px 0 0;
    padding: 0;
    list-style: circle;
}

.NavPane-Elem {
    margin: 0;
    padding: 6px 24px 3px;
}

.NavPane-Elem a {
    display: block;
    width: 100%;
}