.Window-Tracking {
    background-color: rgba(0, 0, 0, 0.25);
    width: 400px;
}

.Window-Actions {
    background-color: rgba(0, 0, 0, 0.5);
    flex-grow: 1;
    height: 100%;
}

.Window-Action-List {
    margin: 0;
    overflow-y: scroll;
    height: calc(100% - 6px - 32px - 38px);
}

.Window-Action {
    margin: 0;
    padding: 6px 0 12px;
    cursor: pointer;
    -webkit-user-select: none;
}

.Window-Action:hover {
    background-color: deepskyblue;
}