/*------------------------------------------------------------------------------
  Loader
------------------------------------------------------------------------------*/
.app-wasm-loader-hidden {
  display: none;
}

.goapp-app-info {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: white;
  background-color: #2d2c2c;
}

@media (prefers-color-scheme: light) {
  .goapp-app-info {
    color: black;
    background-color: #f6f6f6;
  }
}

.goapp-logo {
  max-width: 100px;
  max-height: 100px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.goapp-label {
  margin-top: 12px;
  font-size: 21px;
  font-weight: 100;
  letter-spacing: 1px;
  max-width: 480px;
  text-align: center;
}

.goapp-spin {
  animation: goapp-spin-frames 1.21s infinite linear;
}

@keyframes goapp-spin-frames {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*------------------------------------------------------------------------------
  Not found
------------------------------------------------------------------------------*/
.goapp-notfound-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 65pt;
  font-weight: 100;
}
