/* -----------------------------------------------------------------------------
// Global
------------------------------------------------------------------------------*/
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: silver;

  scrollbar-color: rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.08);
  scrollbar-width: none;
}

::-webkit-scrollbar {
  border-radius: 12px;
  width: 1px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.08);
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  width: 1px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.goapp-app-info,
.background {
  background: linear-gradient(#2e343a, #1c1d1f);
}

.app-title,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.heading,
h1,
h2,
h3,
h4,
h5,
h6 {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.app-title {
  font-size: 30px;
  letter-spacing: 6px;
  color: white;
}

.h1,
h1 {
  font-size: 26px;
  letter-spacing: 4px;
  color: white;
}

h2,
.h2 {
  font-size: 20px;
  letter-spacing: 2px;
  color: white;
}

.header-separator,
h1,
h2,
.h2 {
  padding-bottom: 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  color: white;
}

h3,
.h3 {
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
}

p,
ul,
ol,
.p {
  padding: 0;
  margin: 18px 0 0;
}

a {
  color: deepskyblue;
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:active {
  color: deepskyblue;
}

li {
  margin: 6px 0 0 18px;
}

li:first-child {
  margin: 0 0 0 18px;
}

table {
  width: 100%;
  margin: 18px 0 0;
  border-collapse: collapse;
}

th {
  font-family: "Montserrat", sans-serif;
  text-align: left;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  padding: 12px 30px 12px 0;
}

td {
  margin: 0;
  padding: 12px 24px 12px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}

pre,
pre[class*="language-"] {
  display: block;
  margin: 18px 0 0;
  padding: 18px 30px;
  border-radius: 18px;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 14px;
  overflow: auto;
  font-family: monospace;
  tab-size: 4;
}

pre[class*="language-"] code {
  padding: 0;
  margin: 0;
  background-color: transparent;
  font-family: monospace;
}

input[type="text"],
input[type="password"] {
  padding: 9px 0 9px 9px;
  margin: 0;
  outline: none;
  border: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.08);
  background: transparent;
  font-size: 14px;
  color: currentColor;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-left: 1px solid deepskyblue;
}

strong {
  color: white;
  font-weight: 400;
}

.fill {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}

.header {
  height: 78px;
}

.header-out {
  margin-top: 78px;
}

.content {
  height: calc(100% - 78px - 12px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.fit {
  width: -moz-fit-content;
  width: fit-content;
}

.hspace-in {
  padding-left: 30px;
  padding-right: 30px;
}

.hspace-in-stretch {
  padding-left: 30px;
  padding-right: 30px;
  width: calc(100% - 30px - 30px);
}

.hspace-out {
  margin-left: 36px;
  margin-right: 36px;
}

.hspace-out-stretch {
  margin-left: 36px;
  margin-right: 36px;
  width: calc(100% - 36px - 36px);
}

@media (max-width: 480px) {
  .hspace-out {
    margin-left: 18px;
    margin-right: 18px;
  }

  .hspace-out-stretch {
    margin-left: 18px;
    margin-right: 18px;
    width: calc(100% - 18px - 18px);
  }
}

.hstretch {
  width: 100%;
}

.space-flow {
  margin-left: 18px;
  width: calc(100% - 18px - 36px);
}

.space-flow-item {
  margin: 18px 0 0 18px;
}

@media (max-width: 480px) {
  .space-flow {
    margin-left: 9px;
    width: calc(100% - 9px - 18px);
  }

  .space-flow-item {
    margin: 18px 0 0 9px;
  }
}

.vspace-in {
  padding-top: 30px;
  padding-bottom: 30px;
}

.vspace-in-stretch {
  padding-top: 30px;
  padding-bottom: 30px;
  height: calc(100% - 30px - 30px);
}

.rounded {
  border-radius: 18px;
  border: 0;
}

.vspace-top {
  margin-top: 24px;
}

.vspace-bottom {
  margin-bottom: 24px;
}

.block {
  display: block;
}

.hide {
  display: none !important;
}

.default {
  color: currentColor;
}

.focus {
  color: white !important;
}

.error {
  color: #f06372 !important;
}

.center {
  margin: auto;
}

.text-center {
  text-align: center;
}

.dim {
  color: dimgrey;
}

.icon-top {
  margin-bottom: 12px;
}

.icon-left {
  margin-right: 24px;
}

.subtext {
  margin: 6px 0 0;
  padding: 0;
}

.right {
  margin-left: auto;
}

.code-background {
  background-color: rgba(0, 0, 0, 0.2);
}

.magnify {
  display: block;
  cursor: pointer;
  transition: 0.2s all;
}

.text-tiny-top {
  margin-top: 3px;
}

.magnify:hover {
  transform: scale(1.05);
}

.magnify:active {
  transform: scale(0.95);
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.button {
  display: inline-block;
  padding: 9px 24px;
  color: currentColor;
  border: 1px solid currentColor;
  border-radius: 18px;
  cursor: pointer;
  text-transform: uppercase;
  margin: 6px 6px;
  letter-spacing: 1px;
  background-color: transparent;
  transition: 0.2s all;
}

.button:hover {
  color: deepskyblue;
  transform: scale(1.1);
}

.button:active {
  color: deepskyblue;
  transform: scale(0.98);
}

.center-content {
  text-align: center;
}

.no-scroll {
  overflow: hidden;
}

.disabled {
  pointer-events: none !important;
  color: dimgray;
}

/* -----------------------------------------------------------------------------
// Page
------------------------------------------------------------------------------*/
.page-title {
  max-width: 540px;
}

.separator:first-of-type,
.reference .Documentation-overviewHeader {
  margin-top: 42px;
}

.separator:last-of-type {
  margin-top: 18px;
}

.separator,
.markdown h2,
.markdown h3,
.reference h2 {
  margin-top: 84px;
}

.markdown h2:first-of-type {
  margin-top: 0;
}

/*------------------------------------------------------------------------------
** menu
------------------------------------------------------------------------------*/
.menu-hamburger-background {
  background: linear-gradient(#2e343a, rgba(0, 0, 0, 0.9));
}

.menu .separator:first-of-type {
  margin-top: 18px;
}

.menu .separator {
  margin-top: 30px;
}

.menu .separator:last-of-type {
  margin-top: 16px;
}

/* -----------------------------------------------------------------------------
// Index
------------------------------------------------------------------------------*/
.index .separator:first-of-type {
  margin-top: 18px;
}

.index .separator {
  margin-top: 24px;
}

.index .separator:last-of-type {
  margin-top: 16px;
}

.index .h2 {
  margin-top: 18px;
}

.index-link {
  display: block;
  padding: 2px 0;
  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
  color: currentColor;
}

/* -----------------------------------------------------------------------------
// Link
------------------------------------------------------------------------------*/
.link {
  display: block;
  cursor: pointer;
  transition: 0.2s all;
  color: currentColor;
  text-transform: uppercase;
}

.link:hover {
  color: deepskyblue;
  transform: scale(1.2);
}

.link:active {
  color: deepskyblue;
  transform: scale(0.98);
}

.link-update {
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: bounce;
  transform-origin: bottom;
}

.link-update .link-icon {
  margin-right: 3px;
}

/* -----------------------------------------------------------------------------
// Updates
------------------------------------------------------------------------------*/
.updates .markdown table {
  margin: 0;
  padding: 0;
}

.updates .markdown tr:first-child td {
  /* margin: 0;
  padding: 12px 24px 12px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.08); */
  /* padding-top: 0; */
  border-top: none;
}

/* -----------------------------------------------------------------------------
// Loader
------------------------------------------------------------------------------*/
.loader .icon {
  border: 2px solid silver;
  border-radius: 50%;
}

.loader .icon.active {
  border-top: 2px solid white;
  animation: spin 0.55s linear infinite;
}

.loader p {
  padding-top: 3px;
  white-space: pre;
}

.page-loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-image: linear-gradient(#2e343a, #1c1d1f);
}

/* -----------------------------------------------------------------------------
// markdown
------------------------------------------------------------------------------*/
.markdown img {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.markdown .token.keyword {
  color: violet;
}

.markdown .token.function,
.markdown a {
  color: deepskyblue;
}

.markdown .token.builtin,
.markdown .token.symbol {
  color: dodgerblue;
}

.markdown .token.boolean,
.markdown .token.number {
  color: orange;
}

.markdown .token.comment {
  color: grey;
}

.markdown .token.string {
  color: mediumspringgreen;
}

.markdown .token.variable {
  color: #ef596f;
}

.markdown strong {
  color: white;
}

.markdown code {
  padding: 2px 9px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 14px;
}

.markdown .title {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.markdown .title img {
  background-color: transparent;
  width: 96px;
  height: 96px;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

.markdown .title h1 {
  border: 0;
  margin: 0;
  padding: 0;
  margin-left: 12px;
  margin-right: 42px;
  font-size: 26px;
  letter-spacing: 4px;
}

.markdown .subtitle {
  text-align: center;
  margin-top: 18px;
}

.markdown .subtitle img {
  display: initial;
  width: initial;
  height: initial;
  background-color: initial;
  margin: 0 1.5px;
}

.markdown .openc {
  display: initial;
  width: initial;
  height: initial;
  background-color: initial;
  margin: initial;
  padding: initial;
}

/* -----------------------------------------------------------------------------
// Reference 
------------------------------------------------------------------------------*/
.reference-index dl {
  list-style: none;
  margin: 0;
  padding: 0;
}

.reference-index dd {
  margin: 0;
  padding: 2px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.reference-index a {
  color: currentColor;
}

.reference-index a:hover {
  color: deepskyblue;
}

.reference #page h1,
.reference #page #short-nav,
.reference #page #pkg-overview .collapsed,
.reference #page #pkg-index .collapsed,
.reference #page #pkg-subdirectories,
.reference #page .pkg-dir,
.reference #page #footer {
  display: none;
}

.reference #pkg-overview h2 {
  padding: 0 0 6px;
  margin: 18px 0 0;
}

.reference h3 {
  text-transform: none;
  margin-top: 36px;
}

.reference dl {
  list-style: none;
}

.reference dd {
  margin: 6px 0 0;
}

.reference dd:first-child {
  margin: 0;
}

.reference .comment {
  color: mediumspringgreen;
}

/*------------------------------------------------------------------------------
** Animations
------------------------------------------------------------------------------*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-6px);
  }
  30% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(-6px);
  }
  55% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
