/* -----------------------------------------------------------------------------
// Global
------------------------------------------------------------------------------*/
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: silver;

  scrollbar-color: rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.08);
  scrollbar-width: none;
}

::-webkit-scrollbar {
  border-radius: 12px;
  width: 1px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.08);
}

::-webkit-scrollbar-thumb {
  border-radius: 12px;
  width: 1px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.goapp-app-info,
.background {
  background: linear-gradient(#2e343a, #1c1d1f);
}

.app-title,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.heading,
h1,
h2,
h3,
h4,
h5,
h6 {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
}

.app-title {
  font-size: 30px;
  letter-spacing: 6px;
}

.h1,
h1 {
  font-size: 24px;
  letter-spacing: 3px;
}

h1 {
  padding-top: 18px;
}

.h2,
h2 {
  font-size: 18px;
  letter-spacing: 2px;
}

.header-separator,
h1,
h2 {
  padding-bottom: 6px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.h3,
h3 {
  margin-top: 60px;
  font-size: 16px;
  letter-spacing: 1px;
}

p {
  margin: 0;
  padding: 18px 0 0;
}

a {
  color: deepskyblue;
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:active {
  color: deepskyblue;
}

ul,
ol {
  margin: 18px 0 0 0;
  padding: 0;
}

li {
  margin: 6px 0 0 18px;
}

li:first-child {
  margin: 0 0 0 18px;
}

table {
  width: 100%;
  margin: 18px 0 0;
  border-collapse: collapse;
}

th {
  font-family: "Montserrat", sans-serif;
  text-align: left;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  padding: 12px 30px 12px 0;
}

td {
  margin: 0;
  padding: 12px 24px 12px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}

pre,
pre[class*="language-"],
.godoc code {
  display: block;
  margin: 18px 0 0;
  padding: 18px 30px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 14px;
  overflow: auto;
}

pre[class*="language-"] code {
  padding: 0;
  margin: 0;
  background-color: transparent;
  font-family: monospace;
}

input[type="text"],
input[type="password"] {
  padding: 9px 0 9px 9px;
  margin: 0;
  outline: none;
  border: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.08);
  background: transparent;
  font-size: 14px;
  color: currentColor;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-left: 1px solid deepskyblue;
}

.fill {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}

.header {
  height: 78px;
}

.header-out {
  margin-top: 78px;
}

.content {
  height: calc(100% - 78px - 12px);
  overflow-y: scroll;
  overflow-x: hidden;
}

.fit {
  width: -moz-fit-content;
  width: fit-content;
}

.hspace-in {
  padding-left: 30px;
  padding-right: 30px;
}

.hspace-in-stretch {
  padding-left: 30px;
  padding-right: 30px;
  width: calc(100% - 30px - 30px);
}

.hspace-out {
  margin-left: 36px;
  margin-right: 36px;
}

.hspace-out-stretch {
  margin-left: 36px;
  margin-right: 36px;
  width: calc(100% - 36px - 36px);
}

@media (max-width: 480px) {
  .hspace-out {
    margin-left: 18px;
    margin-right: 18px;
  }

  .hspace-out-stretch {
    margin-left: 18px;
    margin-right: 18px;
    width: calc(100% - 18px - 18px);
  }
}

.space-flow {
  margin-left: 18px;
  width: calc(100% - 18px - 36px);
}

.space-flow-item {
  margin: 18px 0 0 18px;
}

@media (max-width: 480px) {
  .space-flow {
    margin-left: 9px;
    width: calc(100% - 9px - 18px);
  }

  .space-flow-item {
    margin: 18px 0 0 9px;
  }
}

.vspace-in {
  padding-top: 30px;
  padding-bottom: 30px;
}

.vspace-in-stretch {
  padding-top: 30px;
  padding-bottom: 30px;
  height: calc(100% - 30px - 30px);
}

.vspace-top {
  margin-top: 24px;
}

.vspace-section,
h2 {
  margin-top: 120px;
}

.vspace-bottom {
  margin-bottom: 24px;
}

.block {
  display: block;
}

.hide {
  display: none !important;
}

.default {
  color: currentColor;
}

.focus {
  color: white !important;
}

.error {
  color: #f06372 !important;
}

.center {
  margin: auto;
}

.right {
  margin-left: auto;
}

.vignette {
  display: block;
  border-radius: 18px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.035);
}

.magnify {
  cursor: pointer;
  transition: 0.2s all;
}

.magnify:hover {
  transform: scale(1.05);
}

.magnify:active {
  transform: scale(0.95);
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.button {
  display: inline-block;
  padding: 9px 24px;
  color: currentColor;
  border: 1px solid currentColor;
  border-radius: 18px;
  cursor: pointer;
  text-transform: uppercase;
  margin: 6px 6px;
  letter-spacing: 1px;
}

.button:hover {
  color: deepskyblue;
}

.center-content {
  text-align: center;
}

/*------------------------------------------------------------------------------
** Animations
------------------------------------------------------------------------------*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(-6px);
  }
  30% {
    transform: translateY(0);
  }
  35% {
    transform: translateY(-6px);
  }
  55% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

/* -----------------------------------------------------------------------------
// Link
------------------------------------------------------------------------------*/
.link {
  display: block;
  padding: 3px 0;
  cursor: pointer;
  transition: 0.2s all;
  color: currentColor;
}

.link:hover {
  color: deepskyblue;
  transform: scale(1.2);
}

.link:active {
  color: deepskyblue;
  transform: scale(0.98);
}

.link-icon {
  margin-right: 12px;
}

.link-update {
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: bounce;
  transform-origin: bottom;
}

.link-update .link-icon {
  margin-right: 3px;
}

/* -----------------------------------------------------------------------------
// Page
------------------------------------------------------------------------------*/
.overlay-menu {
  background: linear-gradient(#2e343a, rgba(0, 0, 0, 0.9));
}

/* -----------------------------------------------------------------------------
// Index
------------------------------------------------------------------------------*/
.index-link {
  display: block;
  padding: 2px 0;
  white-space: pre;
  color: currentColor;
}

/* -----------------------------------------------------------------------------
// Support us
------------------------------------------------------------------------------*/
.support-us-item {
  color: currentColor;
}

.support-us-item-label {
  margin-top: 6px;
  text-align: center;
}

/* -----------------------------------------------------------------------------
// Loader
------------------------------------------------------------------------------*/
.loader .icon {
  border: 2px solid silver;
  border-radius: 50%;
}

.loader .icon.active {
  border-top: 2px solid white;
  animation: spin 0.55s linear infinite;
}

.loader p {
  padding-top: 3px;
  white-space: pre;
}

.page-loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-image: linear-gradient(#2e343a, #1c1d1f);
}

/* -----------------------------------------------------------------------------
// markdown
------------------------------------------------------------------------------*/
.markdown img {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.markdown .token.keyword {
  color: violet;
}

.markdown .token.function,
.markdown a {
  color: deepskyblue;
}

.markdown .token.builtin,
.markdown .token.symbol {
  color: dodgerblue;
}

.markdown .token.boolean,
.markdown .token.number {
  color: orange;
}

.markdown .token.comment {
  color: grey;
}

.markdown .token.string {
  color: mediumspringgreen;
}

.markdown .token.variable {
  color: #ef596f;
}

.markdown strong {
  color: white;
}

.markdown code {
  padding: 2px 9px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 14px;
}

.markdown .title {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.markdown .title img {
  background-color: transparent;
  width: 96px;
  height: 96px;
  border: 0;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

.markdown .title h1 {
  border: 0;
  margin: 0;
  padding: 0;
  margin-left: 12px;
  margin-right: 42px;
  font-size: 26px;
  letter-spacing: 4px;
}

.markdown .subtitle {
  text-align: center;
  margin-top: 18px;
}

.markdown .subtitle img {
  display: initial;
  width: initial;
  height: initial;
  background-color: initial;
  margin: 0 1.5px;
}

.markdown .openc {
  display: initial;
  width: initial;
  height: initial;
  background-color: initial;
  margin: initial;
  padding: initial;
}

/* -----------------------------------------------------------------------------
// Godoc
------------------------------------------------------------------------------*/
.godoc-index dl,
.godoc-index a {
  margin: 0;
  padding: 0;
  color: currentColor;
}

.godoc-index a:hover,
.godoc-index a:active {
  color: deepskyblue;
}

.godoc-index dd {
  margin: 0;
  padding: 2px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.godoc h2,
.godoc h3 {
  text-transform: none;
}

.godoc h2 a,
.godoc h3 a,
.godoc pre a {
  color: deepskyblue;
}

.godoc pre .comment {
  color: mediumspringgreen;
}

.godoc dd {
  margin: 2px 0;
  padding: 0;
}

.godoc dd a {
  color: currentColor;
}

.godoc dd a:hover,
.godoc dd a:active {
  color: deepskyblue;
}

.godoc #pkg-overview,
.godoc #pkg-index {
  cursor: pointer;
}

.godoc .pkg-dir {
  padding: 18px 0 0;
}

.godoc .toggleVisible .collapsed {
  display: none;
}

.godoc .toggleVisible .expanded {
  display: block;
}

.godoc .toggle .collapsed {
  display: block;
}

.godoc .toggle .expanded {
  display: none;
}

.godoc #footer {
  display: none;
}
